* {
  background-color: grey;
  float: relative;
}

body {
  float: relative;
}

#landing {
  width: 75%;
  height: auto;
  background-image: url("./img/DougBell_LowerLegs.jpg");
}

#lowerlegs {
  margin: 2%;
  width: 75%;
  height: auto;
  /* background-image: url("./img/DougBell_LowerLegs.jpg"); */
 
}

.pictures{
  grid-row: auto, auto, auto;
  width: 200px;
  height: 200px;
  float: left;
  margin: 1%;
}

footer {
  float: none;
}