* {
  background-color: grey;
  float: relative;
}

body {
  float: relative;
}

h1 {
  font-size: 3em;
}
h5 {
  font-size: 2em;
}

#landing {
  width: 75%;
  height: auto;
  background-image: url("./img/DougBell_LowerLegs.jpg");
}

#lowerlegs {
  margin: 2%;
  width: 75%;
  height: auto;
  /* background-image: url("./img/DougBell_LowerLegs.jpg"); */
 
}

.pictures{
  grid-row: 30%, 30%, 30%;
  width: 30%;
  height: 30%;
  float: left;
  margin: 1%;
}

/* #id {
  float: none;
} */

.footer {
  clear: both;
  float: left;
  width: 50%;
}